DATABASE_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
RESEND_API_KEY=""
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
CRON_SECRET=""
LANDING_API_SECRET="your-secret-token-here-min-32-chars"
LANDING_ORIGIN="https://your-landing-domain.com"
# LANDING_ORIGIN="http://localhost:5500"
